*.pyc
build/
dist/
uv.lock
src/drtrex/egg-info/*.*

src/drtrex.egg-info/dependency_links.txt
src/drtrex.egg-info/PKG-INFO
src/drtrex.egg-info/requires.txt
src/drtrex.egg-info/SOURCES.txt
src/drtrex.egg-info/top_level.txt
jupyter/.DS_Store
.DS_Store
# pixi environments
.pixi/*
!.pixi/config.toml
